<?xm version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.binus.a2101658224_elkanarahadian_la26_mobi6002">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="ElkanaRahadian2101658224LA26"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.binus.a2101658224_elkanarahadian_la26_mobi6002.MainActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.binus.a2101658224_elkanarahadian_la26_mobi6002.ClothesActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.binus.a2101658224_elkanarahadian_la26_mobi6002.LoadActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>
